.gmnoprint {
  display: none;
}

.gm-style-mtc {
  display: none;
}

.gm-svpc {
  display: none;
}

.gm-control-active.gm-fullscreen-control {
  display: none;
}

.map {
  width: 100%;
  position: absolute;
  height: 100%;
}